<h1>{{name}}</h1>
<ul class="properties">
    <li class="capital">
        <h2>Capital:</h2> {{capital}}
    </li>
    <li class="population">
        <h2>Population:</h2> {{population}}
    </li>
    <li class="languages">
        <h2>Languages:</h2>
        <ul class="languages-list">
            {{#each languages}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </li>
    <li class="flag"><img src="{{flag}}" alt="flag of {{name}} " width="480px"></li>
</ul>